.container {
  max-width: 100%; /* Set maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  /* display: grid; */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid with minimum item width of 200px */
  gap: 20px; /* Gap between grid items */
  /* padding: 20px; Add padding to the container */
  
}

/* 
.container {
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center; 
  min-height: 100vh;
} */





main {
  background-color: #64806F;
  padding: 20px;
}

/* Nav.css */
.banner{display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 100px 300px; /* defining heights */
gap: 10px;
justify-content: center;
align-items: center;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
